/**
 * @filename        reset.css
 * @description     Nowadays different browsers have their ownesses regarding to rendering HTML as well as web's    
                    changes with every day passing. That means the developer has to deal with elements or rules 
                    propably not known by ancient browsers or rendered differently in Chrome and Firefox and so on. 
                    And, of course, every dev has his own preferences and standard classes he wishes to use every time.
                    That's why there's need as a developer to define a bunch of standard rules based on that ownesses 
                    as well as personal preferences to have a fixed status quo to start the developing process at and 
                    not to reinvent the wheel again and again.
 * @version         v2.1.0
 * @author          Sven Schmidt
 * @licence         public
 * @date            2014/07/01
 * @changelog       added some standard classes (clearfix, left/right etc.), organized stuff in groups, removed                            deprecated elements, added some more reset based on personal preferences
 */

/*------------------------------------*\
    #UniversalSelectorReset
\*------------------------------------*/

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}





/*------------------------------------*\
    #Basics
\*------------------------------------*/

html,
body {
    width:100%;
    height:100%;
}

html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
abbr,address,cite,code,
del,dfn,em,img,ins,kbd,q,samp,
small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,a,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,menu,nav,section,summary,
time,mark,audio,video {
    outline:0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-size:1em;
    vertical-align:baseline;
    background:transparent;
}

html {
    font-size:62.5%;
    direction:ltr;
    overflow-y:scroll;
}
    
body {
    line-height:1;
    color:#333;
}





/*----------------------------------------------------------------*\
    correct block display not defined in some ancient browsers
\*----------------------------------------------------------------*/

aside,
article,
details,
figcaption,
figure,
footer,
header,
hgroup,
hr,
menu,
nav,
section,
summary {
    display:block;
}





/*-------------------------------------------------------------------*\
    correct inline-block display not defined in some ancient browsers
\*-------------------------------------------------------------------*/

audio,
video,
canvas {
    display:inline-block;
}





/*------------------------------------*\
    #Typography
\*------------------------------------*/

strong,
b {
    font-weight:bold;
    font-size:0.95em; /*for better readability*/
}

em,
i,
dfn {
    font-style:italic;
}

del,
s {
    text-decoration:line-through;
}

abbr[title],
dfn[title] {
    cursor:help;
    border-bottom:1px dotted;
}

pre {
    white-space:pre;
    white-space:pre-wrap;
    word-wrap:break-word;
    margin:1em 0;
}

small  {
    font-size:75%;
}

sub,
sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}





/*------------------------------------*\
    #HorizontalLine
\*------------------------------------*/

hr {
    height:1px;
    border:0;
    border-top:1px solid currentcolor; 
    margin:1em 0;
}





/*------------------------------------*\
    #Links
\*------------------------------------*/

a:focus {
    outline:thin dotted;
}

a {
    text-decoration:none;
}

a:hover,
a:active {
    text-decoration:underline;
    outline:0;
}





/*------------------------------------*\
    #Img
\*------------------------------------*/

img {
    max-width:100%;
}





/*------------------------------------*\
    #Headings
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:bold;
}





/*------------------------------------*\
    #Lists
\*------------------------------------*/

ul,
ol {
    margin-left:4em;
    padding:0.5em;
}

nav ul,
nav ol {
    list-style:none;
    list-style-image:none;
}





/*------------------------------------*\
    #Quotation
\*------------------------------------*/

blockquote,
q {
    quotes:none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content:"";
    content:none;
}





/*------------------------------------*\
    #Tables
\*------------------------------------*/

table {
    border-collapse:collapse;
    border-spacing:0;
}





/*------------------------------------*\
    #Forms
\*------------------------------------*/

input,
select { 
    vertical-align:middle; 
}

button[disabled],
input[disabled] {
    cursor:default;
}

textarea {
    overflow:auto;
    vertical-align:top;
}




/*------------------------------------*\
    #AudioVideo
\*------------------------------------*/

audio:not([controls]) {
    /*prevent browsers from displaying <audio> without controls*/
    display:none;
    height:0;
}




/*------------------------------------*\
    often used classes
\*------------------------------------*/

[hidden],
.hidden {
    display:none;
}

.left {
    float:left;
}

.right {
    float:right;
}

.clear {
    clear:both;
}

.fullWidth {
    width:100%;
}

.fullHeight {
    height:100%;
}





/*------------------------------------*\
    #clearfix
\*------------------------------------*/

.clearfix:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}

.clearfix {
    display:inline-block;
}

html[xmlns] .clearfix {
    display:block;
}

* html .clearfix {
    height:1%;
}
